* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: "InterFace", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
    text-decoration: none;
    list-style-type: none;
}
a:hover {
    cursor: pointer;
}
