.slides-container {
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 64px;
}
.slides {
    display: block;
    text-align: center;
    height: 500px;
}
.slides img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.slide-in {
    animation: slide-in 5s ease;
}
@keyframes slide-in {
    0% {
        display: none;
        transform: translateX(100%);
    }

    25% {
        display: block;
        transform: translateX(0%);
    }

    75% {
        transform: translateX(0%);
    }

    100% {
        display: none;
        transform: translateX(-100%);
    }
}
.gray_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px 0px;
    width: 100%;
    height: 48px;
    background: #F6F6F6;
}
@media all and (max-width: 530px) {
    .gray_bar {
        height: auto;
    }
}
.gray_bar .text {
    display: flex;
    padding: 0 16px;
    align-items: center;
    font-size: 16px;
}
.gray_bar .text span {
    font-weight: 700;
    margin-right: 5px;
}
.gray_bar a {
    font-weight: 700;
    text-decoration: underline;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
main>* {
    margin-top: 100px;
}
.header {
    margin-bottom: 42px;
    width: fit-content;
}
.title {
    width: fit-content;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.content {
    max-width: 100%;
    width: 1411px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.destaques img {
    width: 32%;
    height: 300px;
    border-radius: 25px;
    object-fit: cover;
}
.container {
    display: flex;
    flex-direction: column;
}
.container>div {
    display: flex;
}
.vantagens a {
    width: 25%;
}
.container span {
    display: block;
    font-size: 20px;
    margin-top: 15px;
    line-height: 150%;
}
.matriz_eco{
    position: relative;
    width: 49%;
}
.matriz_eco p{
    width: 100%;
    color: #757575;
}
.matriz_eco button{
    height: 48px;
    width: 30%;
    position: absolute;
    bottom: 0;
}
.contacts{
    justify-content: space-between;
}
.contacts div{
    width: 24%;
}
.contacts div>img{
    width: 100%;
}
.contacts span{
    position: relative;
    font-size: 16px;
    margin-bottom: 8px;
    padding-left: 32px;
}
.contacts span:first-of-type{
    font-weight: 700;
    padding: 0;
}
.contacts a{
    color: #ee1212;
    text-decoration: underline #ee1212;
}
i.icons{
    position: absolute;
    top: 3px;
    left: 0px;
}
.container-bullets{
    justify-content: center;
}
.bullets{
    margin: 0 5px;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background: #d9d9d9;
    opacity: 1;
}
.bullets.active{
    width: 40px;
    background: #ee1212;
}
.carros1{
    flex-direction: column;
    justify-content: space-between;
}
.carros1 .carrostitulos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.carros1 .carrostitulos .titlecarros {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #000;
}

.carros1 .carrostitulos a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    align-items: center;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #e41819;
    background-image: url(https://www.matrizauto.pt/temas/matrizauto2022/imgs/general/seta-carro.svg);
    background-repeat: no-repeat;
    padding-left: 19px;
}

.carros1 .carrosfoto {
    margin-top: 42px;
    overflow: initial;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.carros1 h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    display: block;
    width: 100%;
    margin: 0;
}

.carros1 h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #757575;
    display: block;
    width: 100%;
}

.carros1 .card {
    height:540px;
    width: 303px;
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 20px;
    white-space: nowrap;
}

.carros1 .imagem img {
    height: 213px;
    width: 301px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.carros1 .partedebaixo {
    width: 100%;
    padding: 21px 23px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

.specs {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -3px;
    width: 100%;
    min-height: 58px;
    flex-direction: row;
    box-sizing: border-box;
    font-weight: 300;
    font-style: normal;
    font-family: "InterFace", sans-serif;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: flex-end;
}

.specs .spec {
    background: #F6F6F6;
    color: #757575;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px 8px;
    gap: 10px;
    margin: 0 3px;
    margin-bottom: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    height: 23px;
}

.tabscarros {
    margin-top: 13px;
    width: 100%;
    flex-direction: row;
    padding: 0 23px;
}

.tabscarros .tabstitulos {
        display: flex;
        border-bottom: 1px solid #CBCBCB;
        padding-bottom: 9px;
        width: 100%;
        margin-bottom: 11px;
}

.tabscarros .tabstitulos span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #757575;
    position: relative;
}

.tabscarros .tabstitulos .selected {
    position: relative;
}

.tabscarros .tabstitulos .selected::after {
    height: 4px;
    background: #E41819;
    position: absolute;
    width: 100%;
    bottom: -9px;
    left: 0;
    content: "";
}

.carros1 .prices {
    box-sizing: border-box;
    font-weight: 300;
    font-style: normal;
    font-family: "InterFace", sans-serif;
    margin: 0;
    padding: 0;
}

.carros1 .prices .value {
    width: 100%;
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #E41819;
}

.carros1 .prices .naosei123 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #757575;
}

.carros1 .card2 {
    display: flex;
    width: calc(100% + 4px);
    margin-left: -2px;
    padding-top: 13px;
    margin-top: auto;
    flex-wrap: wrap;
}

.carros1 .card2 .highlight1 {
    display: flex;
    align-items: center;
    padding: 3px 6px 3px 6px;
    gap: 4px;
    width: auto;
    height: 24px;
    background: #E41819;
    border-radius: 6px;
    margin: 3px 2px;
}

.carros1 .label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    white-space: nowrap;
}