.slides-container {
    position: relative;
    width: 100vw;
    margin: auto;
    padding-top: 64px;
}
.slides {
    display: block;
    text-align: center;
    height: 500px;
}
.slides img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.slide-in {
    animation: slide-in 5s ease;
}
@keyframes slide-in {
    0% {
        display: none;
        transform: translateX(100%);
    }

    25% {
        display: block;
        transform: translateX(0%);
    }

    75% {
        transform: translateX(0%);
    }

    100% {
        display: none;
        transform: translateX(-100%);
    }
}
.gray_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px 0px;
    width: 100%;
    height: 48px;
    background: #F6F6F6;
}
@media all and (max-width: 530px) {
    .gray_bar {
        height: auto;
    }
}
.gray_bar .text {
    display: flex;
    padding: 0 16px;
    align-items: center;
    font-size: 16px;
}
.gray_bar .text span {
    font-weight: 700;
    margin-right: 5px;
}
.gray_bar a {
    font-weight: 700;
    text-decoration: underline;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
main>* {
    margin-top: 100px;
}
.header {
    margin-bottom: 42px;
    width: fit-content;
}
.title {
    width: fit-content;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.content {
    max-width: 100%;
    width: 1411px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.destaques img {
    width: 32%;
    height: 300px;
    border-radius: 25px;
    object-fit: cover;
}
.container {
    display: flex;
    flex-direction: column;
}
.container>div {
    display: flex;
}
.vantagens a {
    width: 25%;
}
.container span {
    display: block;
    font-size: 20px;
    margin-top: 15px;
    line-height: 150%;
}
.matriz_eco{
    position: relative;
    width: 49%;
}
.matriz_eco p{
    width: 100%;
    color: #757575;
}
.matriz_eco button{
    height: 48px;
    width: 30%;
    position: absolute;
    bottom: 0;
}
.contacts{
    justify-content: space-between;
}
.contacts div{
    width: 24%;
}
.contacts div>img{
    width: 100%;
}
.contacts span{
    position: relative;
    font-size: 16px;
    margin-bottom: 8px;
    padding-left: 32px;
}
.contacts span:first-of-type{
    font-weight: 700;
    padding: 0;
}
.contacts a{
    color: #ee1212;
    text-decoration: underline #ee1212;
}
i.icons{
    position: absolute;
    top: 3px;
    left: 0px;
}
.container-bullets{
    justify-content: center;
}
.bullets{
    margin: 0 5px;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background: #d9d9d9;
    opacity: 1;
}
.bullets.active{
    width: 40px;
    background: #ee1212;
}